body{
    background-color: black;
}
h2{
    background-color: green;
    color: aliceblue;
    text-align: center;
}
p{
    color: aliceblue;
}
h3{background-color: green;
    color: white;
    text-align: center;
}
